.navigation{
  width: 100%;
  height: 64px;
  background-color: #212731;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 120px;
  .tags{
    color: #D1D6DA;
  }
  input{
    width: 258px;
    height: 37px;
    border-radius: 8px;
    border: 1px solid #E1E4E6;
    background-image: url('search.png');
    background-repeat: no-repeat;
    background-position: 8px 4px;
    padding-left: 40px;
  }
}