@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

@mixin mobile {
  @media (max-width:738px){
    @content;
  }
}
@mixin tablet {
  @media (max-width:1024px){
    @content;
  }
}
@mixin desktop {
  @media (max-width:1366px){
    @content;
  }
}